{% extends 'layout.html' %}
{% block body %}

<div class="container">
	<div class="row">

		<div class="col-xs-12 col-md-5">
			<form action="#" id="form">
				<div class="col-xs-12">
					<div class="col-xs-6 col-md-6 field">
						<p class="label">Years To Grow
							<span class="tooltip">?
								<span class="tooltiptext">Length of your investment in years.</span>
							</span>
						</p>
						<p class="value"><input oninput="formChange()" size="3" type="text" name="years" value="15"> Years</p>
					</div>
					<div class="col-xs-6 col-md-6 field">
						<p class="label">Compounded
							<span class="tooltip">?
								<span class="tooltiptext">How often your investment is compounded.</span>
							</span>
						</p>
						<p class="value">
							<select name="compounded" onchange="formChange()">
								<option value="1">Monthly</option>
								<option value="3">Quarterly</option>
								<option value="12" selected>Annually</option>
							</select>
						</p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6 col-md-6 field">
						<p class="label">Principal
							<span class="tooltip">?
								<span class="tooltiptext">Current/starting amount of money.</span>
							</span>
						</p>
						<p class="value">$ <input oninput="formChange()" size="7" type="text" name="principal" value="10000"></p>
					</div>
					<div class="col-xs-6 col-md-6 field">
						<p class="label">Interest Rate
							<span class="tooltip">?
								<span class="tooltiptext">Percent that your money grows at each year.</span>
							</span>
						</p>
						<p class="value"><input oninput="formChange()" size="4" type="text" name="rate" value="7"> %</p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6 col-md-6 field">
						<p class="label">Contribution
							<span class="tooltip">?
								<span class="tooltiptext">Periodic addition to your investment.</span>
							</span>
						</p>
						<p class="value">$ <input oninput="formChange()" size="7" type="text" name="contribution" value="250"></p>
					</div>
					<div class="col-xs-6 col-md-6 field">
						<p class="label">Frequency
							<span class="tooltip">?
								<span class="tooltiptext">How frequent you add to your investment.</span>
							</span>
						</p>
						<p class="value">
							<select name="contribution_freq" onchange="formChange()">
								<option value="1" selected>Monthly</option>
								<option value="3">Quarterly</option>
								<option value="12">Annually</option>
							</select>
						</p>
					</div>
				</div>
			</form>
		</div>


		<div class="col-xs-12 col-md-7">
			<div class="output-container">
				<div class="output">
					<div class="col-xs-6 col-md-4 data">
						<p class="name">Future Value</p>
						<p class="value"><span class="unit">$</span> <span class="output-value" id="future">110445</p>
					</div>
					<div class="col-xs-6 col-md-4 data">
						<p class="name">ROI</p>
						<p class="value"><span class="output-value" id="roi">100.81</span> <span class="unit">%</span></p>
					</div>
					<div class="col-xs-6 col-md-4 data">
						<p class="name">Millionare After</p>
						<p class="value"><span class="output-value" id="milli">42</span> <span class="unit">Years</span></p>
					</div>
					<div class="col-xs-6 col-md-4 data">
						<p class="name">Total Invested</p>
						<p class="value"><span class="unit">$</span> <span class="output-value" id="invested">55000</p>
					</div>
					<div class="col-xs-6 col-md-4 data">
						<p class="name">Contributions</p>
						<p class="value"><span class="unit">$</span> <span class="output-value" id="contributed">45000</p>
					</div>
					<div class="col-xs-6 col-md-4 data">
						<p class="name">Interest Accrued</p>
						<p class="value"><span class="unit">$</span> <span class="output-value" id="accrued">55455</p>
					</div>
					
				</div>
				<div class="col-xs-12 chart-container">
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>


	</div>

</div>

<script type="text/javascript">

	// number inputs and commas
	new AutoNumeric.multiple('.value > input', {digitGroupSeparator: ',', allowDecimalPadding: false, vMin: '0'});
	new AutoNumeric.multiple('.output-value', {digitGroupSeparator: ',', allowDecimalPadding: false, vMin: '0'});
	


	// detect form change
	

	// $('form').on('keyup change paste', 'input, select, textarea', function(){
	// 	formChange()
	// });


	// $("#form :input").change(function() {
	// 	formChange()
	// });


	// $("#form")
	//     .on("input", function() {
	// 		formChange()

	//     });







	// chart.js init
	var myChart = new Chart(document.getElementById("myChart"), {
	  type: 'line',
	  data: {
	    labels: [0,1],
	    datasets: [{ 
	        data: [0,0],
	        label: "Value",
	        borderColor: "#77E8B0",
	        fill: true
	      }
	    ]
	  },
	  options: {
	  	legend: {
	  		display: false
	  	},
	  	tooltips: {
	  		displayColors: false

	  	},
	  	scales: {
	  		yAxes: [{
	  			position: "right",
	            gridLines: {
	                color: "rgba(0, 0, 0, 0)",
	            },
	            ticks: {
	            	fontColor: "#77E8B0",
	            	fontSize: 10,
					min: 0,
					max: 100000,
					maxTicksLimit: 2,
					userCallback: function(value, index, values) {
				        value = value.toString();
				        value = value.split(/(?=(?:...)*$)/);
				        value = '$'+value.join(',');
				        return value;
				    }
	            }
	        }],
	        xAxes: [{
	            gridLines: {
	                // color: "rgba(0, 0, 0, 0)",
	            },
	            ticks: {
	            	fontColor: "#77E8B0",
	            	fontSize: 10

	            }
	        }]
	  	},
	  	elements: {
                point:{
                    radius: 2,
                    hoverRadius: 6,
                    hoverBackgroundColor: "#77E8B0"
                }
            }
	  }
	});


</script>

{% endblock %}