{% extends 'layout.html' %}
{% block body %}


<img src="/static/images/logo.svg" alt="" class="logo">
<div class="container">
	<div class="half">
		<div class="content">
			<h1>Investment</h1>
			<div class="flex">
				<div class="c-50-50 data">
					<p class="label">Years to grow</p>
					<input oninput="formChange()" size="3" type="text" name="years" value="15">
					<span> Years</span>
				</div>
				<div class="c-50-50 data">
					<p class="label">Compounded</p>
					<select name="compounded" onchange="formChange()">
						<option value="1">Monthly</option>
						<option value="3">Quarterly</option>
						<option value="12" selected>Annually</option>
					</select>
				</div>
				<div class="c-50-50 data">
					<p class="label">Principal</p>
					<span>$ </span>
					<input oninput="formChange()" size="7" type="text" name="principal" value="10000">
				</div>
				<div class="c-50-50 data">
					<p class="label">Interest Rate</p>
					<input oninput="formChange()" size="4" type="text" name="rate" value="7">
					<span> %</span>
				</div>
				<div class="c-50-50 data">
					<p class="label">Contribution</p>
					<span>$ </span>
					<input oninput="formChange()" size="7" type="text" name="contribution" value="250">
				</div>
				<div class="c-50-50 data">
					<p class="label">Frequency</p>
					<select name="contribution_freq" onchange="formChange()">
						<option value="1" selected>Monthly</option>
						<option value="3">Quarterly</option>
						<option value="12">Annually</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="half">
		<div class="content">
			<h1>Outcome</h1>
			<div class="flex">
				<div class="c-33-50 data">
					<p class="label">Future Value</p>
					<span>$ </span>
					<p class="data-value" id="future">108504</p>
				</div>
				<div class="c-33-50 data">
					<p class="label">ROI</p>
					<p class="data-value" id="roi">97.28</p>
					<span> %</span>
				</div>
				<div class="c-33-50 data">
					<p class="label">Millionare After</p>
					<p class="data-value" id="milli">44</p>
					<span> Years</span>
				</div>
				<div class="c-33-50 data">
					<p class="label">Total Invested</p>
					<span>$ </span>
					<p class="data-value" id="invested">55000</p>
				</div>
				<div class="c-33-50 data">
					<p class="label">Contributions</p>
					<span>$ </span>
					<p class="data-value" id="contributed">45000</p>
					
				</div>
				<div class="c-33-50 data">
					<p class="label">Interest Accrued</p>
					<span>$ </span>
					<p class="data-value" id="accrued">53504</p>
				</div>
			</div>
			<div class="c-100-100">
				<canvas id="myChart"></canvas>
			</div>
		</div>
	</div>
</div>
<p class="footer">Made with <i class="fas fa-heart"></i> by <a href="http://josephsinclair.herokuapp.com">Joseph Sinclair</a></p>

<script type="text/javascript">

	// number inputs and commas
	new AutoNumeric.multiple('input', {digitGroupSeparator: ',', allowDecimalPadding: false, minimumValue: '0'});
	new AutoNumeric.multiple('.data-value', {digitGroupSeparator: ',', allowDecimalPadding: false, minimumValue: '0'});

	// chart.js init
	Chart.plugins.register({
		beforeDraw: function(chartInstance, easing) {
			var ctx = chartInstance.chart.ctx;
			ctx.fillStyle = 'white'; // your color here

			var chartArea = chartInstance.chartArea;
			ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
		}
	});
	var myChart = new Chart(document.getElementById("myChart"), {
	  type: 'line',
	  data: {
	    labels: [0,1],
	    datasets: [{ 
	        data: [0,0],
	        label: "Value",
	        borderColor: "#3168FF",
	        backgroundColor: "rgba(0,0,0,0)",
	        fill: true
	      }
	    ]
	  },
	  options: {
	  	legend: {
	  		display: false
	  	},
	  	tooltips: {
	  		displayColors: false,
                mode: 'point',
                callbacks: {
                	title: function(tooltipItem, data) {
                		return tooltipItem[0].label + " Years"
                	},
					label: function(tooltipItem, data) {
					    return "$" + tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
					}
                }

	  	},
	  	scales: {
	  		yAxes: [{
	  			position: "right",
	            gridLines: {
	                display: false
	            },
	            ticks: {
	            	fontColor: "#ffffff",
	            	fontSize: 12,
					min: 0,
					max: 100000,
					maxTicksLimit: 2,
					userCallback: function(value, index, values) {
				        value = value.toString();
				        value = value.split(/(?=(?:...)*$)/);
				        value = '$'+value.join(',');
				        return value;
				    }
	            }
	        }],
	        xAxes: [{
	        	labelString: "Years",
	            gridLines: {
	                display: false
	            },
	            ticks: {
	            	fontColor: "#ffffff",
	            	fontSize: 12
	            }
	        }]
	  	},
	  	elements: {
                point:{
                    radius: 2,
                    hoverRadius: 6,
                    hoverBackgroundColor: "#3168FF"
                }
            }
	  }
	});


</script>

{% endblock %}