{% extends 'layout.html' %}
{% block body %}

<div class="container">
	<div class="row landing">
		<div class="col-xs-12 col-md-6">
			<h1 id="landing-header">Start Learning.</h1>
			<p id="landing-p">Compound Interest is the basis of everything from a personal savings account to long term growth in the stock market.</p>
			<a href="/calculate" id="cta-btn">Calculate</a>
		</div>
		<div class="col-xs-12 col-md-6">
			<img id="landing-img" src="/static/images/landing.svg">
		</div>
	</div>

</div>

{% endblock %}